<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login"
        tools:targetApi="31">
        <activity
            android:name=".activity.Percobaan"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.TambahBerita"
            android:exported="false" />
        <activity
            android:name=".activity.DetailBerita"
            android:exported="false" />
        <activity
            android:name=".activity.ItemBerita"
            android:exported="false" />
        <activity
            android:name=".activity.BeritaAdmin"
            android:exported="false" />
        <activity
            android:name=".activity.BeritaKegiatan"
            android:exported="false" />
        <activity
            android:name=".activity.TambahPoster"
            android:exported="false" />
        <activity
            android:name=".activity.PosterAdmin"
            android:exported="false" />
        <activity
            android:name=".activity.ItemPosterAdmin"
            android:exported="false" />
        <activity
            android:name=".activity.ItemPoster"
            android:exported="false" />
        <activity
            android:name=".activity.DetailPoster"
            android:exported="false" />
        <activity
            android:name=".activity.AdministrasiActivity"
            android:exported="true"
            android:label="Administrasi" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true"
            android:label="Home" />
        <activity
            android:name=".PdfView"
            android:exported="true" />
        <activity
            android:name=".activity.EditProfilActivity"
            android:exported="true"
            android:label="EditProfil" />
        <activity
            android:name=".activity.AlumniActivity"
            android:exported="true"
            android:label="Alumni" />
        <activity
            android:name=".activity.DataAnggotaActivity"
            android:exported="true"
            android:label="DataAnggota" />
        <activity
            android:name=".activity.SosialMediaActivity"
            android:exported="true"
            android:label="SosialMedia" />
        <activity
            android:name=".activity.KaderisasiActivity"
            android:exported="true"
            android:label="Kaderisasi" />
        <activity
            android:name=".activity.ProfilActivity"
            android:exported="true"
            android:label="Profil" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true"
            android:label="Register" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:label="AppNU">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
    </application>

</manifest>